<!--The content below is only a placeholder and can be replaced.-->
<h1>
  Let Study Japanese Kanji
  </h1>
<div class="quiz">
  <span class=msg>{{questionnumbermessage}}</span>
  <span class=msg>{{scoremessage}}</span>
  <span class=custom_key (click)="reveal()">Reveal</span>
  <span class=textbox>{{question}}</span>
  <span class=textbox>{{usertext}}</span>
  <span class=custom_key (click)="nextQuestion()">Skip</span>
</div>

<div class="hiragan_keyboard">
        <span class=custom_key (click)="click($event)">あ</span>
        <span class=custom_key (click)="click($event)">い</span>
        <span class=custom_key (click)="click($event)">う</span>
        <span class=custom_key (click)="click($event)">え</span>
        <span class=custom_key (click)="click($event)">お</span>
      <div></div>
        <span class=custom_key (click)="click($event)">か</span>
        <span class=custom_key (click)="click($event)">き</span>
        <span class=custom_key (click)="click($event)">く</span>
        <span class=custom_key (click)="click($event)">け</span>
        <span class=custom_key (click)="click($event)">こ</span>
      <div></div>
        <span class=custom_key (click)="click($event)">⌫</span>
        <span class=custom_key (click)="click($event)">さ</span>
        <span class=custom_key (click)="click($event)">し</span>
        <span class=custom_key (click)="click($event)">す</span>
        <span class=custom_key (click)="click($event)">せ</span>
        <span class=custom_key (click)="click($event)">そ</span>
      <div></div>
        <span class=custom_key (click)="click($event)">た</span>
        <span class=custom_key (click)="click($event)">ち</span>
        <span class=custom_key (click)="click($event)">つ</span>
        <span class=custom_key (click)="click($event)">て</span>
        <span class=custom_key (click)="click($event)">と</span>
      <div></div>
        <span class=custom_key (click)="click($event)">&quot;</span>
        <span class=custom_key (click)="click($event)">な</span>
        <span class=custom_key (click)="click($event)">に</span>
        <span class=custom_key (click)="click($event)">ぬ</span>
        <span class=custom_key (click)="click($event)">ね</span>
        <span class=custom_key (click)="click($event)">の</span>
      <div></div>
        <span class=custom_key (click)="click($event)">は</span>
        <span class=custom_key (click)="click($event)">ひ</span>
        <span class=custom_key (click)="click($event)">ふ</span>
        <span class=custom_key (click)="click($event)">へ</span>
        <span class=custom_key (click)="click($event)">ほ</span>
      <div></div>
    
        <span class=custom_key (click)="click($event)">°</span>
        <span class=custom_key (click)="click($event)">ま</span>
        <span class=custom_key (click)="click($event)">み</span>
        <span class=custom_key (click)="click($event)">む</span>
        <span class=custom_key (click)="click($event)">め</span>
        <span class=custom_key (click)="click($event)">も</span>
      <div></div>
        <span class=custom_key (click)="click($event)">や</span>
        <span></span>
        <span class=custom_key (click)="click($event)">ゆ</span>
        <span></span>
        <span class=custom_key (click)="click($event)">よ</span>
      <div></div>
        <span  class="custom_key enter_key" (click)="click($event)">⏎</span>
        <span class=custom_key (click)="click($event)">ら</span>
        <span class=custom_key (click)="click($event)">り</span>
        <span class=custom_key (click)="click($event)">る</span>
        <span class=custom_key (click)="click($event)">れ</span>
        <span class=custom_key (click)="click($event)">ろ</span>
      <div></div>
        <span class=custom_key (click)="click($event)">わ</span>
        <span></span>
        <span class=custom_key (click)="click($event)">ん</span>
        <span></span>
        <span class=custom_key (click)="click($event)">を</span>
</div>